<main>
	<h1>Sizings Usage</h1>

	<p>There are multiple ways to use our sizing variables.</p>

	<db-tab-bar>
		<db-tab label="Android" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="CSS" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="Flutter" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="IOS" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="IOS-Swift" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="JS" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="SCSS" name="tab-bar" active>
			<pre>
<code class="language-scss">/* ./index.scss */
@import "@db-ui/base/build/scss/db-ui-base";

body {
	@extend %db-ui-functional;
}

.my-awesome-custom-button {
	/* height of button should always be the same */
	height: $db-sizing-md;
}


</code>
			</pre>
		</db-tab>
		<db-tab label="Tailwind" name="tab-bar">
			<p>TODO</p>
		</db-tab>
	</db-tab-bar>

</main>
