@use "variables" as *;

:root {
	--db-focus-outline-offset: 1px;
	--db-focus-outline-color: #{$db-colors-information-enabled};
	--db-focus-outline-transition-duration: #{$db-transition-duration-ultra-fast};
	--db-focus-outline-size: max(2px, 0.08em);

	--db-disabled-text-opacity: 0.5;
}

// *! this is an opionionated (especially based on "enhancing" normalize.css) version of minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css
html,
body {
	margin: 0;
	padding: 0;
}

// Box sizing
html {
	box-sizing: border-box;
}

// Make sure every elements has the current color from container above
body {
	color: var(--db-current-color, $db-colors-neutral-on-bg-enabled);
	min-height: 100vh;
}

a {
	color: inherit;

	strong {
		color: currentColor;
	}
}

*,
::before,
::after {
	box-sizing: inherit;
}

// Media
img,
embed,
iframe,
object,
video {
	height: auto;
	max-width: 100%;
}

// Iframe
iframe {
	border: 0;
}

// Focus styles
%focus-placeholder,
:is(a, button, input, textarea, summary) {
	transition: outline var(--db-focus-outline-transition-duration);

	&:focus-visible {
		outline: var(--db-focus-outline-size)
			var(--db-focus-outline-style, solid)
			var(--db-focus-outline-color, currentColor);
		outline-offset: var(
			--db-focus-outline-offset,
			var(--db-focus-outline-size)
		);
	}
}

// List style / https://marketingportal.extranet.deutschebahn.com/de/brandguide/typografie-1#8e0be060-c2f5-42a1-abbc-6b050845d73c~paragraph--image_link
:where(ul) {
	list-style-type: "\2022"+ "   ";

	li::marker {
		color: #{$db-colors-primary-enabled};
	}
}

// * Individual styles
// Navigation lists
nav,
[role="navigation"] {
	ol,
	ul {
		list-style: none;

		margin: 0;
		padding: 0;
	}
}

// Block
fieldset {
	border: none;
}
