@import "font-faces";
@import "typography-placeholder";
@import "scaling-placeholder";

:root {
	font-family: $db-font-family-sans;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $db-font-family-head;
	}
}

@mixin styles($styles...) {
	@for $i from 0 to length($styles) {
		%db-ui-#{nth($styles, $i + 1)},
		.db-ui-#{nth($styles, $i + 1)} {
			@extend %db-scaling-#{nth($styles, $i + 1)};

			[data-size="large"] {
				@extend %db-#{nth($styles, $i + 1)}-body-lg;
			}

			*:not(small),
			[data-size="medium"] {
				@extend %db-#{nth($styles, $i + 1)}-body-md;
			}

			small,
			[data-size="small"] {
				@extend %db-#{nth($styles, $i + 1)}-body-sm;
			}

			h1 {
				@extend %db-#{nth($styles, $i + 1)}-headline-xl;
			}

			h2 {
				@extend %db-#{nth($styles, $i + 1)}-headline-lg;
			}

			h3 {
				@extend %db-#{nth($styles, $i + 1)}-headline-md;
			}

			h4 {
				@extend %db-#{nth($styles, $i + 1)}-headline-sm;
			}

			h5 {
				@extend %db-#{nth($styles, $i + 1)}-headline-xs;
			}

			h6 {
				@extend %db-#{nth($styles, $i + 1)}-headline-2xs;
			}
		}
	}
}

@include styles("expressive", "normal", "functional");
