$db-sizing-xs: var(--db-sizing-xs);
$db-sizing-sm: var(--db-sizing-sm);
$db-sizing-md: var(--db-sizing-md);
$db-sizing-lg: var(--db-sizing-lg);

$db-spacing-fixed-3xs: var(--db-spacing-fixed-3xs);
$db-spacing-fixed-2xs: var(--db-spacing-fixed-2xs);
$db-spacing-fixed-xs: var(--db-spacing-fixed-xs);
$db-spacing-fixed-sm: var(--db-spacing-fixed-sm);
$db-spacing-fixed-md: var(--db-spacing-fixed-md);
$db-spacing-fixed-lg: var(--db-spacing-fixed-lg);
$db-spacing-fixed-xl: var(--db-spacing-fixed-xl);

$db-spacing-responsive-xs: var(--db-spacing-responsive-xs);
$db-spacing-responsive-sm: var(--db-spacing-responsive-sm);
$db-spacing-responsive-md: var(--db-spacing-responsive-md);
$db-spacing-responsive-lg: var(--db-spacing-responsive-lg);
$db-spacing-responsive-xl: var(--db-spacing-responsive-xl);

$db-type-font-size-2xl: var(--db-type-body-font-size-2xl);
$db-type-font-size-xl: var(--db-type-body-font-size-xl);
$db-type-font-size-lg: var(--db-type-body-font-size-lg);
$db-type-font-size-md: var(--db-type-body-font-size-md);
$db-type-font-size-sm: var(--db-type-body-font-size-sm);
$db-type-font-size-xs: var(--db-type-body-font-size-xs);
$db-type-font-size-2xs: var(--db-type-body-font-size-2xs);

$db-type-line-height-2xl: var(--db-type-body-line-height-2xl);
$db-type-line-height-xl: var(--db-type-body-line-height-xl);
$db-type-line-height-lg: var(--db-type-body-line-height-lg);
$db-type-line-height-md: var(--db-type-body-line-height-md);
$db-type-line-height-sm: var(--db-type-body-line-height-sm);
$db-type-line-height-xs: var(--db-type-body-line-height-xs);
$db-type-line-height-2xs: var(--db-type-body-line-height-2xs);
