<main>
	<h1>Typography Usage</h1>

	<p>There are multiple ways to use our typography presets.</p>

	<db-tab-bar>
		<db-tab label="Android" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="CSS" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="Flutter" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="IOS" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="IOS-Swift" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="JS" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="SCSS" name="tab-bar" active>
			<h2>Default</h2>
			<p>Applies all font-faces to body,strong and headline 1:</p>
			<pre>
<code class="language-scss">/* ./index.scss */
@import "@db-ui-base/build/scss/variables";
@import "@db-ui-base/build/scss/font-faces";

body {
	font-family: $db-font-family-sans;
}

h1 {
	font-family: $db-font-family-head;
}
</code>
			</pre>

			<h2>With utility classes</h2>
			<p>Applies all font-faces to body,strong and headline 1:</p>
			<pre>
<code class="language-scss">/* ./index.scss */
... see default
@import "@db-ui-base/scss/typography-classes";
</code>
			</pre>
			<strong>Example html (class='db-typo-body-sm'):</strong>
			<p>Default: <strong>16px</strong></p>
			<p class='db-typo-body-sm'>SM: <strong>14px</strong></p>

		</db-tab>
		<db-tab label="Tailwind" name="tab-bar">
			<p>TODO</p>
		</db-tab>
	</db-tab-bar>

</main>
