<main>
	<h1>Spacings Intro</h1>
	<p>
		Please find a lot of more information regarding our spacings and how to use it within the <a target="_blank" rel="nofollow" href="https://marketingportal.extranet.deutschebahn.com/de/brandguide/layout">Marketingportal</a>
	</p>

	<h3>
		Table of all spacings
	</h3>

	{{spacing-into-table "spacings" "responsive-normal-desktop" "responsive-normal-desktop"}}

</main>
