<main>
	<h1>Spacings Usage</h1>

	<p>There are multiple ways to use our spacing variables.</p>

	<db-tab-bar>
		<db-tab label="Android" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="CSS" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="Flutter" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="IOS" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="IOS-Swift" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="JS" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="SCSS" name="tab-bar" active>
			<pre>
<code class="language-scss">/* ./index.scss */
@import "@db-ui-base/build/scss/db-ui";

body {
	@extend %db-ui-functional;
}

.my-awesome-custom-button {
	/* we don't like padding for button to be responsive */
	padding: $db-spacing-fixed-md;
}

.my-awesome-container {
	/* all elements inside this container should be responsive */
	padding: $db-spacing-responsive-md;
}
</code>
			</pre>
		</db-tab>
		<db-tab label="Tailwind" name="tab-bar">
			<p>TODO</p>
		</db-tab>
	</db-tab-bar>

</main>
