<main>
	<h1>Spacings Usage</h1>

	<p>There are multiple ways to use our spacing variables.</p>

	<db-tab-bar>
		<db-tab label="Android" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="CSS" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="Flutter" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="IOS" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="IOS-Swift" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="JS" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="SCSS" name="tab-bar" active>
			<p>Applies spacing as padding (16px) to a class</p>
			<pre>
<code class="language-scss">/* ./index.scss */
@import "@db-ui-base/build/scss/variables";

.my-awesome-class {
	padding: $db-spacing-2;
}
</code>
			</pre>
		</db-tab>
		<db-tab label="Tailwind" name="tab-bar">
			<p>TODO</p>
		</db-tab>
	</db-tab-bar>

</main>
