<main>
	<h1>Typography Usage</h1>

	<p>There are multiple ways to use our typography presets.</p>

	<db-tab-bar>
		<db-tab label="Android" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="CSS" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="Flutter" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="IOS" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="IOS-Swift" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="JS" name="tab-bar">
			<p>TODO</p>
		</db-tab>
		<db-tab label="SCSS" name="tab-bar" active>
			<h2>Default</h2>
			<p>Applies all font-faces to body and headlines:</p>
			<pre>
<code class="language-scss">/* ./index.scss */
@import "@db-ui-base/build/scss/db-ui";

body {
	@extend %db-ui-functional;
}

</code>
			</pre>

			<h2>Overrides</h2>
			<h3>Default</h3>
			<strong>Example html &lt;small&gt;:</strong>
			<p>Default: <strong>14px</strong></p>
			<small>SM: <strong>12px</strong></small>
			<h3>With utility classes</h3>
			<pre>
<code class="language-scss">/* ./index.scss */
... see default
@import "@db-ui-base/scss/typography-classes";
</code>
			</pre>
			<strong>Example html (class='db-normal-body-xs'):</strong>
			<p>Default: <strong>14px</strong></p>
			<p class='db-normal-body-xs'>SM: <strong>12px</strong></p>

		</db-tab>
		<db-tab label="Tailwind" name="tab-bar">
			<p>TODO</p>
		</db-tab>
	</db-tab-bar>

</main>
