@import "../../build/scss/variables";
@import "../../build/scss/font-faces";
@import "../../build/scss/typography-classes";
@import "../../build/scss/typography-placeholder";
@import "../../build/scss/color-placeholder";
@import "../../build/scss/color-classes";

/* body {
	font-family: var(--asset-font-db-screensans-regular-name);
} */
body,
button,
input,
optgroup,
select,
textarea {
	font-family: $db-font-family-sans;

	@extend %db-typo-body-md;
}

strong,
b {
	font-family: $db-font-family-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $db-font-family-head;
}

@import "../_patterns/icons/icons.demonstration";
@import "../_patterns/logo/examples.demonstration";
@import "../_patterns/spacings/examples.demonstration";
@import "../_patterns/colors/usage.demonstration";

main {
	padding: $db-spacing-1 $db-spacing-3;
}
