@use "../../build/scss/variables" as *;
@use "../../build/scss/db-ui-base" as *;
@use "../../build/scss/color-classes" as *;

:root {
	@extend %db-ui-functional;
}

/* ugly workaround for db-ui-core components */
// TODO: let's evaluate to move the reset.css to DB UI Base even already and probably even also update it
div,
button,
input,
select,
textarea {
	font-size: inherit !important;
}

@import "../_patterns/icons/icons.demonstration";
@import "../_patterns/logo/examples.demonstration";
@import "../_patterns/spacings/examples.demonstration";
@import "../_patterns/elevation/examples.demonstration";
@import "../_patterns/typography/examples.demonstration";

main {
	padding: $db-spacing-fixed-regular-xs $db-spacing-fixed-regular-l;
}

.typography-table {
	tr > td {
		padding: $db-spacing-fixed-regular-2xs $db-spacing-fixed-regular-xs;
	}
}
