.DO-NOT-COPY-THIS-CLASS-example-logo-list {
	list-style: none;

	padding-left: 0;

	color: $db-colors-onneutral-7;

	li {
		display: inline-block;
		box-sizing: border-box;

		margin: 4px;
		padding: 80px;
		border-radius: 4px;

		color: $db-colors-onneutral-7;

		&.DO-NOT-COPY-THIS-CLASS-example-bg-variants-cool-gray {
			background-color: $db-colors-onneutral-7;
		}
		&.DO-NOT-COPY-THIS-CLASS-example-bg-variants-red {
			background-color: $db-colors-primary-enabled;

			--db-logo-color: #{$db-colors-background-0-enabled};
		}
		&.DO-NOT-COPY-THIS-CLASS-example-bg-variants-image {
			background-image: url(https://marketingportal.extranet.deutschebahn.com/sites/default/files/2021-12-13/Ausn01.png);
			background-repeat: no-repeat;
			background-size: cover;

			display: block;

			padding-top: 37px;
			padding-left: 37px;

			width: 600px;
			height: 358px;

			--db-logo-backgroundcolor: #{$db-colors-background-0-enabled};
		}
	}
}
