{{!--
SPDX-FileCopyrightText: 2025 DB Systel GmbH

SPDX-License-Identifier: Apache-2.0
--}}

<ul class="DO-NOT-COPY-THIS-CLASS-example-logo-list">
	{{#each example-bgs }}
		<li class="DO-NOT-COPY-THIS-CLASS-example-bg-variants-{{ variant }}">
			<svg xmlns="http://www.w3.org/2000/svg" width="80" height="56" aria-hidden="true">
				<use href="../../images/db_logo.svg#logo"></use>
			</svg>
		</li>
	{{/each }}
</ul>
