@use "../../../build/scss/variables" as *;

.DO-NOT-COPY-THIS-CLASS-example-icon-list {
	&,
	ol {
		list-style: none;

		padding-left: 0;
	}

	&.functional {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.DO-NOT-COPY-THIS-CLASS-example-bg-variants-regular,
		.DO-NOT-COPY-THIS-CLASS-example-bg-variants-dark {
			min-width: 250px;
		}
		.DO-NOT-COPY-THIS-CLASS-example-bg-variants-regular {
			ol {
				justify-content: flex-end;
			}
		}
	}

	details {
		summary {
			cursor: pointer;

			display: flex;
			flex-direction: column;
			align-items: center;

			// Remove existing marker
			&::-webkit-details-marker {
				display: none;
			}
			// … and using some other declaration for Mozilla Firefox
			&:first-of-type {
				list-style-type: none;
			}

			figure {
				text-align: center;
			}
		}

		ul {
			li {
				display: list-item;
				padding: initial;
			}
		}

		// Icon details
		aside {
			position: fixed;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 10;

			background-color: #fff;
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

			padding: 1rem;
		}

		// Achieving a full viewport clickarea for closing the overflow menu
		&[open] summary::after {
			content: "\00A0";
			display: inline-block;
			height: 100vh;
			left: 0;
			position: fixed;
			top: 0;
			width: 100vw;
			z-index: 5;
		}
	}

	& > li {
		display: flex;
	}

	&:where(.icons) {
		ol {
			color: $db-colors-secondary-enabled;
		}

		li {
			display: inline-block;

			margin: 0.25rem;
			padding: 1rem 0.25rem;
			border-radius: 4px;

			color: $db-colors-secondary-enabled;

			&.DO-NOT-COPY-THIS-CLASS-example-bg-variants-turquoise {
				background-color: $db-colors-success-enabled;
				--db-icon-color: rgb(255, 255, 255);
			}
			&.DO-NOT-COPY-THIS-CLASS-example-bg-variants-red {
				background-color: $db-colors-primary-enabled;

				--db-icon-color: rgb(255, 255, 255);
				--db-icon-pulse-color: rgb(255, 255, 255);
			}
			&.DO-NOT-COPY-THIS-CLASS-example-bg-variants-cyan {
				background-color: $db-colors-information-enabled;

				--db-icon-color: rgb(255, 255, 255);
			}
			&.DO-NOT-COPY-THIS-CLASS-example-bg-variants-dark {
				background-color: $db-colors-secondary-enabled;

				--db-icon-color: rgb(255, 255, 255);
			}
		}
	}
	&.illustrative {
		li {
			padding: 2rem;
		}
	}
	&.functional {
		ol {
			display: flex;
			align-items: center;
		}
	}
}
