<main >
	<h1>Elevation Examples</h1>

	<div class="DO-NOT-COPY-THIS-CLASS-elevation-background">
		<div class="DO-NOT-COPY-THIS-CLASS-elevation-0">Elevation-0</div>
		<div class="DO-NOT-COPY-THIS-CLASS-elevation-1">Elevation-1</div>
		<div class="DO-NOT-COPY-THIS-CLASS-elevation-2">Elevation-2</div>
		<div class="DO-NOT-COPY-THIS-CLASS-elevation-4">Elevation-4</div>
		<div class="DO-NOT-COPY-THIS-CLASS-elevation-8">Elevation-8</div>
		<div class="DO-NOT-COPY-THIS-CLASS-elevation-12">Elevation-12</div>
		<div class="DO-NOT-COPY-THIS-CLASS-elevation-24">Elevation-24</div>
	</div>
</main>
