<main >
	<h1>Elevation Examples</h1>

	<div class="DO-NOT-COPY-THIS-CLASS-elevation-background">
		<div class="DO-NOT-COPY-THIS-CLASS-elevation-0">Elevation-0</div>
		<div class="DO-NOT-COPY-THIS-CLASS-elevation-1">Elevation-1</div>
		<div class="DO-NOT-COPY-THIS-CLASS-elevation-2">Elevation-2</div>
		<div class="DO-NOT-COPY-THIS-CLASS-elevation-3">Elevation-3</div>
		<div class="DO-NOT-COPY-THIS-CLASS-elevation-4">Elevation-4</div>
		<div class="DO-NOT-COPY-THIS-CLASS-elevation-5">Elevation-5</div>
		<div class="DO-NOT-COPY-THIS-CLASS-elevation-6">Elevation-6</div>
	</div>
</main>
