<main>
	<section>
		<h1>Colors Usage</h1>
		<p>
		The defined color palette specifies colors in three dimensions: background, foreground (e.g. text, icons) and specific states as :hover and :active. 
		For each key color (primary, secondary, etc.) and each background color including neutral color palette DB UI Base provides SCSS utility classes and 
		placeholder to ensure correct use of defined color combinations.
		</p>

		<db-tab-bar>
		<db-tab label="SCSS" name="tab-bar" active>
			<pre>
				<code class="language-scss">/* ./index.scss */
				@import "@db-ui-base/build/scss/variables";
				@import "@db-ui-base/build/scss/font-faces";

				body {
					font-family: $db-font-family-sans;
				}

				h1 {
					font-family: $db-font-family-head;
				}
				</code>
							</pre>

							<h2>With utility classes</h2>
							<p>Applies all font-faces to body,strong and headline 1:</p>
							<pre>
				<code class="language-scss">/* ./index.scss */
				... see default
				@import "@db-ui-base/scss/typography-classes";
				</code>
			</pre>
			<strong>Example html (class='db-typo-body-sm'):</strong>
			<p>Default: <strong>16px</strong></p>
			<p class='db-typo-body-sm'>SM: <strong>14px</strong></p>

			<div class="DO-NOT-COPY-THIS-CLASS-example-color-container db-bg-primary">
			<a href="#">Link auf Hintergrund</a><br />
			<p>Text auf Hintergrund</p>
			</div>
			
			<div class="DO-NOT-COPY-THIS-CLASS-example-color-container db-bg-primary-light">
				<a href="#">Link auf Hintergrund</a><br />
				<p>Text auf Hintergrund</p>
				<small class="db-weak">Weak text</small>
			</div>
		</db-tab>

		
	</section>
</main>