
<main>
	<h3>
The defined color palette specifies colors in three dimensions: background, foreground (in most cases text) and specific states as :hover and :active.
</h3>

<div class="DO-NOT-COPY-THIS-CLASS-example-color-container db-primary">

	<a href="#">Link auf Hintergrund</a><br />
	<p>Text auf Hintergrund</p>
	<small class="db-weak">Weak Text</small>
</div>

</main>