<main>
	<h1>Logo Intro</h1>
	<p>
		Please find a lot of more information regarding our logo and how to use it within the <a target="_blank" rel="nofollow" href="https://marketingportal.extranet.deutschebahn.com/de/logo-3">Marketingportal</a>
	</p>

	<h2>
		Adapt logos colors (background and fill)
	</h2>

	<p>
		You could easily change the line-colors of the logo as well as the background color
		by defining different color values for both CSS variables:
	</p>
	<code>
		-   `--db-logo-color`
		-   `--db-logo-backgroundcolor`
	</code>
	<p>
		The fallback for an undefined `--db-logo-color` is our DB Red (`#f01414`),
		and `--db-logo-backgroundcolor` would fall back to `transparent`,
		which is the general background defined by brand.
	</p>
</main>
