<main class="rea-main">
    <h1>Color System</h1>
    <p>DB UX Design Guidelines 3.0 introduce a complete new set of color variables that follow some rules to work with.</p>
    <p>Each accent color (primary, secondary, information, etc.) is provided in a group of four compatible colors of different tones for pairing, defining emphasis, and visual expression. </p>
    <p>Accent colors primary, secondary, information, warning, error, critical and sucess are following the same pattern of a 4-color group. </p>

    <h2>Color Scheme – Primary (Example)</h2>
    <p>Each defined color has an interactive mode which means that colors for hover and pressed states are defined.</p>
    <ul>
        <li><b>Primary</b> – base key color</li>
        <li><b>Primary Background-Light</b> – background color for current key color. Only used for backrounds.</li>
        <li><b>Primary Background-Transparent</b> - Transparent or semi transparent backgrounds for current key color, e.g. used for form field backgrounds.</li>
        <li><b>On Primary</b> – is applied to content (icons, text, etc.) that sits on top of primary</li>
        <li><b>On Primary Background</b> – is applied to content (icons, text, etc.) that sits on top of primary background colors (background light or transparent).</li>
        <li><b>On Primary Background Weak</b> – is applied to content (icons, text, etc.) that sits on top of primary background colors (background light or transparent) and is a variant to weaken content on primary backgrounds.
        </li>
    </ul>

    <h3>Color Scheme Illustration</h3>
    <figure class="color-scheme-illustration">
        <img src='../../images/Primary.png' alt='Color Scheme Example'>
        <img src='../../images/Primary-Background.png' alt='Color Scheme Example'>
    </figure>

    <h2>Neutral Color Scheme</h2>
    <p>The neutral color palette exists of 6 color variants. In contrast to key colors like primary, neutral colors can only be used for backgrounds.</p>

    <img src='../../images/neutral-palette.png' alt='Neutral Color Scheme'>
</main>